<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <th:block th:replace="fragments/tachyon-header :: tachyon-header('Theorems//Abstractions')" />
</head>
<body>
<main class="main">
    <div class="header-one measure-wide w-100">
        <div class="fl w-100">
        <h1>
            <span id="theorems">Theorems </span>
            <span id="ampersand">&amp;</span>
            <span id="abstractions"> Abstractions</span>
        </h1>
        </div>
    </div>
    <div class="fr w-10 tr signature">
        <h5>an original design by steven turner</h5>
    </div>
    <div class="menu-group">
        <h5 class="menu-item grow measure-wide o-40"><a href="#">About</a></h5>
        <h4 class="menu-item grow measure-wide o-50"><a href="#">Contact</a></h4>
        <h3 class="menu-item grow measure-wide o-60"><a href="#">Theorems</a></h3>
        <h2 class="menu-item grow measure-wide o-70"><a href="#">Abstractions</a></h2>
    </div>
    <div class="main-grouping ba b--near-white">Main Grouping
        <div class="header ba b--near-white">Header</div>
        <div class="nav ba b--near-white">navigation</div>
        <br/>
        <div class="content ba b--near-white">Content</div>
    </div>
</main>
</body>
</html>