<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <th:block th:replace="fragments/tachyon-header :: tachyon-header('Theorems//Abstractions')" />
</head>
<body>
<main>
    <div class="header-one measure-wide w-100">
        <div class="fl w-100">
        <h1>
            <span id="theorems">Theorems </span>
            <span id="ampersand">&amp;</span>
            <span id="abstractions"> Abstractions</span>
        </h1>
        </div>
    </div>
    <div class="fr w-10">
        <h5>by steven turner</h5>
    </div>
    <div class="menu-group">
        <h5 class="menu-item grow measure-wide"><a href="#">Blog</a></h5>
        <h4 class="menu-item grow measure-wide"><a href="#">About</a></h4>
        <h3 class="menu-item grow measure-wide"><a href="#">Contact</a></h3>
        <h2 class="menu-item grow measure-wide"><a href="#">Theorems</a></h2>
        <h1 class="menu-item grow measure-wide"><a href="#">Abstractions</a></h1>
    </div>
</main>
</body>
</html>