<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<body class="container">

<nav th:fragment="top-nav" class="navbar navbar-expand-md justify-content-md-center justify-content-start">

    <a class="nav-link" href="#" id="nav-link">
        <img id="nav-link" class="magnifying-glass" th:src="@{${'/img/searchsolid.svg'}}" />
        <input id="nav-link" name="nav-link" type="textarea" />
    </a>

    <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
        <ul class="navbar-nav mx-auto text-md-center text-left" id="search-bar">

            <li class="nav-item col-2">
                <a class="nav-link " sec:authorize="isAnonymous()" th:href="@{/login}">concede</a>
                <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/profile}">who am i?</a>
            </li>
            <li class="nav-item col-2" id="second-col">
                <a class="nav-link" th:href="@{/login}">who are you?</a>
            </li>
            <li class="nav-item my-auto title-bar">
                <a class="nav-link navbar-brand mx-0 d-none d-md-inline" th:href="@{/posts}"><span id="theorems">theorems</span><span id="ampersand"> &amp; </span><span id="abstractions">abstractions</span></a>
            </li>
            <li class="nav-item col-2">
                <a class="nav-link" th:href="@{/posts/create}"><span class="m-and-s">miscellania</span> and <span class="m-and-s">etceteria</span></a>
            </li>
            <li class="nav-item col-2" id="last-col">
<!--                <form th:action="@{/logout}" th:method="post">-->
                <a class="nav-link" sec:authorize="isAnonymous()" href="#">Only if you're not logged in</a>
                <a class="nav-link" sec:authorize="isAuthenticated()" th:method="post" th:action="@{/logout}" th:href="@{/}">in absentia</a>
<!--                </form>-->
            </li>
        </ul>
        <ul class="nav navbar-nav flex-row justify-content-md-center justify-content-start flex-nowrap">
            <li class="nav-item"><a class="nav-link" href=""><i class="fa fa-facebook mr-1"></i></a> </li>
            <li class="nav-item"><a class="nav-link" href=""><i class="fa fa-twitter"></i></a> </li>
        </ul>
    </div>
</nav>
</body>
</html>