<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<body>

<nav th:fragment="top-nav" class="navbar navbar-light navbar-expand-md justify-content-md-center justify-content-start" style="background-color: #90d3d5">
    <a class="navbar-brand d-md-none d-inline" href="">Brand</a>
    <button class="navbar-toggler ml-1" type="button" data-toggle="collapse" data-target="#collapsingNavbar2">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="nav-link" href="#"><img src="../fragments/img/search-solid.svg" th:attr="src=@{img/search-solid.svg}"></img></a>
    <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
        <ul class="navbar-nav mx-auto text-md-center text-left">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/posts}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/login}">Log In</a>
                <a class="nav-link" sec:authorize="isAuthenticated()" href="#">Profile</a>
            </li>
            <li class="nav-item my-auto">
                <a class="nav-link navbar-brand mx-0 d-none d-md-inline" th:href="@{/}">SpringBlog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/posts/create}">Post</a>
            </li>
            <li class="nav-item">
<!--                <form th:action="@{/logout}" th:method="post">-->
                <a class="nav-link" sec:authorize="isAnonymous()" href="#">Only if you're not logged in</a>
                <a class="nav-link" sec:authorize="isAuthenticated()" th:method="post" th:action="@{/logout}" th:href="@{/posts}">Logout</a>
<!--                </form>-->
            </li>
        </ul>
        <ul class="nav navbar-nav flex-row justify-content-md-center justify-content-start flex-nowrap">
            <li class="nav-item"><a class="nav-link" href=""><i class="fa fa-facebook mr-1"></i></a> </li>
            <li class="nav-item"><a class="nav-link" href=""><i class="fa fa-twitter"></i></a> </li>
        </ul>
    </div>
</nav>
</body>
</html>