html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
 .main {
     background: #fc4a1a;  /* fallback for old browsers */
     background: -webkit-linear-gradient(to top, #c3cdfc, #facd2f);  /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to top, #c3cdfc, #facd2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

     font-family: "IBM Plex Mono";
     font-weight: bold;
     z-index: 100;

     margin-left: 0px;
     margin-right: 0px;
}
 .navbar {
     background-color: #facd2f;
     font-family: "IBM Plex Mono";
     font-weight: bolder;
 }
 #search-bar {
     position: relative;
 }
 #collapsingNavbar2 {
     position: relative;
     margin-right: 150px;
     margin-left: -75px;
     margin-top: 2.5rem;
     margin-bottom: 1.5rem;
 }
 .title-bar {
     font-family: Potra;
     font-size: 3em;
 }
 #theorems {
     text-decoration: underline;
     position: relative;
     font-size: 2.4rem;
     bottom: 20px;
     animation: flicker 1.5s infinite alternate;
 }
 #ampersand {
     position: relative;
     font-size: 4rem;
     offset-rotate: 12deg;
 }
 #abstractions {
     text-decoration: underline;
     position: relative;
     font-size: 2.2rem;
     top: 20px;
     animation: flicker 2.7s infinite alternate;
     color: crimson;
 }

 #second-col {
     margin-top: -6px;
     margin-right: 2px;
     margin-left: -3px;
     padding-left: -10px;
     position: relative;
 }
 #last-col {
     margin-top: 9px;
 }
 #nav-link {
     box-shadow: #e8e8be -2.5rem 2.7rem 5rem ;
     padding: 0px;
 }
 .card {
     height: 7.5%;
     width: 90%;
     margin-bottom: 1rem;
 }

 .magnifying-glass {
     height: 18px;
     width: 18px;
 }
 .m-and-s {
     color: crimson;
     box-shadow: #6a6a6a 2.3rem 2.7rem 3rem;
 }

 .card:hover {
     background-color: #f0f0f0;
     width: 125%;
     cursor: grabbing;
     z-index: 1000;
 }
 .login-body {
     background-image: url("../img/CanvaGiraffe.jpg");
     background-repeat: repeat;
     z-index: 1000;
 }
 .card-login-body {
     background-image: url("../img/CanavaMonkey.jpg");
 }
 .login-body:hover {
     background-image: url("../img/CanavaMonkey.jpg");
     z-index: 2000;
 }
 .card-login-body:hover {
     background-image: url("../img/CanvaGiraffe.jpg");
     z-index: 2000;
 }

 @keyframes flicker {
     0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {

         text-shadow: -0.2rem -0.2rem 1rem #cb7b29,
         0.2rem 0.2rem 1rem #efefef,
         0 0 2rem #deb437,
         0 0 4rem #f3c243,
         0 0 6rem #e6bf31,
         0 0 8rem #fb9533,
         0 0 10rem #ee872e;

         box-shadow: 0 0 .5rem #f3d957,
         inset 0 0 .5rem #f4d759,
         0 0 2rem #f4c735,
         inset 0 0 2rem #e4bf31,
         0 0 4rem #dac54c,
         inset 0 0 4rem #facb38;
     }

     20%, 24%, 55% {
         text-shadow: none;
         box-shadow: none;
     }
 }

 #error-div {
     position: relative;
     height: 100%;
     width: 100%;
 }
 #error-div img{
     position: relative;
     margin-right: 50%;
     margin-left: 50%;
     /*horiz-align: center;*/
     transform: translate(-50%, -50%);
 }

