<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <th:block th:replace="fragments/header :: main-header('Create Post')" />
</head>
<body>
<th:block th:replace="fragments/navbar :: top-nav"/>

<main class="container sign-in-body">

    <form th:action="@{'/posts/create'}" th:method="post" th:object="${post}">
        Title: <input type="text" th:field="*{title}"/>
        <br/>
        Content: <textarea th:field="*{content}"/>
        <br/>
        Author First Name: <input type="text" th:field="*{authorFirstName}"/>
        <br/>
        Author Last Name: <input type="text" th:field="*{authorLastName}"/>
        <br/>
        <button class="btn btn-info">Post</button>
    </form>
<th:block th:replace="fragments/footer :: main-footer"/>
</main>
</body>
</html>