<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: main-header('Create Post')" />
</head>
<body>
<th:block th:replace="fragments/navbar :: top-nav"/>

<main class="container">

    <form th:action="@{'/posts/create'}" th:method="post">
        Title: <input type="text" name="title"/><br>
        Content: <input type="text" name="content"/><br>
        Author First Name: <input type="text" name="authorFirstName"/><br>
        Author Last Name: <input type="text" name="authorLastName"/><br>
        <button class="btn btn-info">Post</button>
    </form>
<th:block th:replace="fragments/footer :: main-footer"/>
</main>
</body>
</html>