<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <th:block th:replace="fragments/header :: main-header('Theorems//Abstractions')" />
</head>
<body>
<th:block th:replace="fragments/navbar :: top-nav"/>

    <main class="main container-fluid">
        <hr/>
        <div class="row">
        <div class="main-card col-8">
            <div th:each="post : ${posts}" class="card">

                <div class="card-body">
                    <h3 th:text="${post.title}"/>
                    <p th:text="${post.content}"/>
                    <hr/>
                    <br/>
                         <div class="row">
                            <div class="lower-card col-6">
                                <div>User: <a href="#" th:text="${post.user.username}"/></div>
                                <div>Email: <a href="#" th:text="${post.user.email}"/></div>
                            <hr/>
                                <a th:href="@{/show/{id}(id=${post.id})}" class="btn btn-sm btn-primary">Show Post</a>
                                <a th:href="@{/posts/{id}/edit(id=${post.id})}" class="btn btn-sm btn-warning">Edit Post</a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
            <div class="table-card col-4">
                <div class="contents-card">
                    <h3>Our History</h3>
                    <div class="contents-background">
                        <div class="contents-text">
                            <p>
                                In it's current state, Theorems and Abstractions exists as an experiment in brutalist design coupled with chaotic-philo-concepts intended as an intentional rejection of the widely-accepted standards of visual communication embodied by the vast majority of internet pages. While traditional elements of color cohesion, typographical harmony, and 1 to 1.618 layout may not be present, the core functionality remains.
                            </p>

                            <p>
                                Theorems and Abstractions has no overt purpose other than to inspire some sort of thought about the visual monotony that surrounds each of us in our online and offline lives.
                            </p>

                            <p>
                                Credibly incentivize wireless leadership for bleeding-edge e-business. Distinctively synergize technically sound innovation after distinctive products. Authoritatively maximize enterprise opportunities through one-to-one infrastructures.
                            </p>

                            <p>
                                Uniquely transform highly efficient e-services whereas efficient e-markets. Seamlessly fabricate corporate niches with market positioning mindshare. Professionally disseminate plug-and-play e-business with tactical technologies.
                            </p>

                            <p>
                                Authoritatively provide access to robust markets whereas interdependent products. Seamlessly evisculate equity invested web-readiness after intermandated best practices. Holisticly develop mission-critical networks via customized methods of empowerment.
                            </p>

                            <p>
                                Synergistically e-enable holistic "outside the box" thinking via innovative ROI. Rapidiously communicate professional intellectual capital after installed base core competencies. Distinctively fashion leveraged partnerships for ubiquitous paradigms.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <th:block th:include="fragments/footer :: main-footer"/>
</body>
</html>