<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <th:block th:replace="fragments/header :: main-header('Log In')" />
    <link rel="stylesheet" href="/css/home.css" />
</head>
<body class="login-body">
<th:block th:replace="fragments/navbar :: top-nav"/>

<main class="container sign-in-body">

    <div class="card-login-body">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">Log In to Your Account</h4>
            <div class="text-center" th:if="${param.error}">Invalid username or password</div>
            <div class="text-center" th:if="${param.logout}">You have been logged out.</div>
            <p>
                <a href="" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i>   Login via Twitter</a>
                <a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Login via Facebook</a>
            </p>
            <p class="divider-text text-center mx-auto">
                <span class="bg-light">-- OR --</span>
            </p>
            <form th:action="@{/login}" th:method="post">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input id="username" name="username" class="form-control" placeholder="Username" type="text"/>
                </div> <!-- form-group// -->

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input id="password" name="password" class="form-control" placeholder="Password" type="password"/>
                </div> <!-- form-group// -->

                <div class="form-group">
                    <button class="btn btn-primary btn-block"> Sign In </button>
                </div> <!-- form-group// -->
                <p class="text-center">Don't have an account? <a th:href="@{/sign-up}">Sign up now!</a> </p>
            </form>
        </article>
    </div> <!-- card.// -->
</main>
</body>
</html>